/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #24252A;
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}
.nav-bar{
 display: flex;
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 8px;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    border-radius: 50px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 139, 0.8);
}

.gallery_images{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;   
     
}
.gallery_templete{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: nowrap; /* Prevents images from wrapping to the next line */
    overflow-x: auto; /* Adds horizontal scroll if the content overflows */
    max-width: 100%; 
}
.gallery_title{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #edf0f1;
}
.gallery_structure{
    padding: 20px 50px;
}
.gallery_videos{
    width: 520px;
    height: 340px;
    padding-right: 50px;
}
.title_logo{
    display: flex;
    align-items: center;
    color: #edf0f1;

}


footer{
    background-color: white;
}
.footerContainer{
    width: 100%;
    height: 100px;
    padding: 70px 80px 20px;
    /* position: absolute; */
    bottom:0px
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    padding: 10px;
    background-color:white;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}
.socialIcons a i{
    font-size: 2em;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color:black;
    transition: 0.5s;
}
.socialIcons a i:hover{
    font-size: 2em;
    opacity: 0.2;
    color: white;
}
.footerNav{
    margin:30px 0px
}
.footerNav ul{
    display:flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    margin: 20px;
    color:white;
    text-decoration: none;
    opacity: 0.7;
    font-size: 1.3em;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    
    text-align: center;
    padding: 20px;
}
.footerBottom p{ 
    color: white;
}
.image_details{
    padding-right: 30px;
}
.art_desciption{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 17px;
    padding: 0px 3px;
}
.art_desciption_data{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 15px;
}


/* For about page */
audio{
    position: absolute;
    width: 800px;
    left:300px;
    bottom: 20px;
}
.page_content{
    padding:20px 160px;
    text-align: center;
}
.image_cotainer{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.artist_image{
    width: 70%;
    height: 500px;
    border-radius: 20px;
}
.artist_intro{
    color:white;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 17px;
    
}
.artist_table{
    color:white;
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.artist_table, th, td {
    border: 1px solid white; /* Set the border color to white */
    padding: 8px;
}



/* For contact page */
form{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
summary{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
input{
    border: 2px solid white;
    color: white;
}
.input_name{
    margin-left: 22px; 
    width: 250px;
    height: 30px;
    
}
.input_email{
    margin-left: 24px; 
    width: 250px;
    height: 30px;
    
}
.input_subject{
    margin-left: 8px; 
    width: 250px;
    height: 30px; 
}
.input_submit{
    width: 150px;
    height: 50px; 
    border-radius: 3px;
    font-size: 15px;
}
textarea{
    color:white;
    width: 850px;
    height: 300px;
}
.contact_details{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}



/* For testimony page */
.testimony_list{
    display: flex;
    padding: 20px 70px;
}
.testimony{
    color:white;
    border:solid white 5px;
    height: 600px;
    padding: 30px 140px;
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 40px;
}
.reviewer_name{
    color:white;
}